/*general*/
*{
	font-family: Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
	.container {
		width: 1000px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
/*header*/
header{
	height: 100px;
	margin-bottom: 30px;
	padding: 25px 0px;
	background-color: #004761;
}
header h1.site-title{
		margin: 0px;
}
/*sections*/
section{
	margin-bottom: 40px;
}
section.section-main{
	margin-bottom: 30px;
}
.section-title{
	margin: 0px;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	text-transform: uppercase;
	color: #004761;
}
.news-box,
.news-main-top-box,
.news-main-middle-box{
	display: none;
}
/*news default*/
.news-box{
	margin-bottom: 15px;
}
.news-image{}
.news-label{
	height: 20px;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	color: #004861;
}
.news-title{
	height: 40px;
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	color: #090909;
}
.news-description{
	height: 40px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: #090909;
}
a.news-link .news-title,
a.news-link .news-description,
.news-main-middle-box .news-main-middle-box a.news-link .main-news-title,
.news-main-middle-box .news-main-middle-box a.news-link .main-news-description{
	color: #000000;
}
a.news-link:hover .news-title,
a.news-link:hover .news-description,
.news-main-middle-box a.main-news-link:hover .news-title,
.news-main-middle-box a.main-news-link:hover .news-description{
	color: #777777;
}
a.news-link .news-image > img,
a.main-news-link .news-image > img{
	-webkit-filter: brightness(100%);
}
a.news-link:hover img,
a.main-news-link:hover img{
	-webkit-filter: brightness(60%);
}
/*load links*/
.load-more-news{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	text-align: right;
}
.load-more-news > a{
	color: #004861;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.load-more-news > a:hover{
	color: #4e86a2;
}
/*main news*/
.news-main{
	margin-bottom: 15px;
}
/*main top news*/
.news-main-top-box{
	height: 261px;
	position: relative;
}
.news-main-top-box .news-label,
.news-main-top-box .news-title,
.news-main-top-box .news-description{
	color: #ffffff;
}
.news-main-top-box .news-img,
.news-main-top-box .news-content{
	width: 100%;
	margin-bottom: 15px;
	position: absolute;
}
.news-main-top-box .news-img{
	height: inherit;
}
.news-main-top-box .news-img{
	top: 0px;
	left: 0px;
}
.news-main-top-box .news-img > img{
	-webkit-filter: brightness(60%);
}
.news-main-top-box:hover .news-img > img{
	-webkit-filter: brightness(40%);
}
.news-main-top-box .news-content{
	padding: 0px 20px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.news-main-top-box .news-title{
	height: auto;
	margin-bottom: 5px;
	font-size: 21px;
	line-height: auto;
}
.news-main-top-box .news-description{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
}
.news-main-top-box .news-share{
	position: absolute;
	right: 20px;
	top: 10px;
}
/*main middle news*/
.news-main-middle-box{
	height: 216px;
	position: relative;
	height: inherit;
}
.news-main-middle-box .news-img,
.news-main-middle-box .news-content{
	width: 50%;
	margin-bottom: 15px;
	float: left;
}
.news-main-middle-box .news-title{
	margin-bottom: 10px;
}
.news-main-middle-box .news-description{
	height: auto;
}
.news-main-middle-box .news-share{
	position: absolute;
	left: 231px;
	bottom: 15px;
}
/*advertising*/
.advertising-box{
	height: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eeeeee;
}
.advertising-item{
	width: 728px;
	height: 90px;
	padding: 10px;
	background-color: #cccccc;
	border: 1px solid #999999;
	font-size: 10px;
	color: #000000;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*footer*/
footer{
	width: 100%;
	height: 80px;
	padding: 30px 0px;
	background-color: #d5e11f;
}

#copyright{
	font-size: 10px;
	color: #000000;
	text-align: right;
}
/*transitions*/
.news-main-top-box .news-img > img,
.news-main-middle-box .news-img > img,
.news-title,
.news-description,
.news-image{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (min-width: 1px) and (max-width: 767px){
	/*header*/
	header{
		height: 50px;
		margin-bottom: 0px;
		padding: 15px 0px;
	}
	header h1 > a > img{
		max-height: 18px !important;
	}
	header h1.site-title{
			margin: 0px;
	}
	section{
		margin-bottom: 	0px;
	}
	section.section-main{
		margin-bottom: 0px;
	}
	h2.section-title{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	/*news*/
	.news-box{
		height: auto;
		position: relative;
		height: inherit;
	}
	.news-box .news-box-mobile-break-content{
		margin-bottom: 10px;
	}
	.news-box .news-img,
	.news-box .news-content{
		width: 50%;
		margin-bottom: 0px;
		float: left;
	}
	.news-box .news-img{
		background-color: #eeeeee;
	}
	.news-box .news-content{
		padding-left: 15px;
	}
	.news-box .news-title{
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 16px; 
	}
	.news-box .news-description{
		height: auto;
		margin-right: 39px;
		margin-bottom: 0px;
	}
	.news-box .news-share{
		position: absolute;
		right: 15px;
		bottom: 5px;
	}
	/*load links*/
	.load-more-news{
		padding-left: 15px;
		padding-right: 15px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.load-more-news > a{
		color: #004861;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 20px;

	}
	/*advertising*/
	.advertising-box{
		height: auto;
		margin-left: -15px;
		margin-right: -15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.advertising-item{
		width: 320px;
		height: 100px;
		padding: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	/*main news*/
	.news-main{
		margin-bottom: 0px;
	}
	/*main top news*/
	.news-main-top-box{
		height: auto;
		margin-bottom: 0px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.news-main-top-box .news-label{
		color: #004761;
	}
	.news-main-top-box .news-title,
	.news-main-top-box .news-description{
		color: #090909;
	}
	.news-main-top-box a.main-news-link:hover .news-title,
	.news-main-top-box a.main-news-link:hover .news-description{
		color: #777777;
	}
	.news-main-top-box .news-img,
	.news-main-top-box .news-content{
		position: relative;
	}
	.news-main-top-box .news-img{
		width: 100%;
		margin-bottom: 15px;
		background-color: #eeeeee;
	}
	.news-main-top-box .news-content{
		padding: 0px 15px;
	}
	.news-main-top-box .news-img{
		height: inherit;
	}
	.news-main-top-box .news-img > img{
		margin-left: auto;
		margin-right: auto;
		display: block;
		-webkit-filter: brightness(60%);
	}
	.news-main-top-box:hover .news-img > img{
		-webkit-filter: brightness(40%);
	}
	.news-main-top-box .news-title{
		height: auto;
	}
	.news-main-top-box .news-description{
		height: auto;
	}
	.news-main-top-box .news-share{
		position: absolute;
		right: 20px;
		top: 10px;
	}
	.news-main-hr{
		margin-top: 0px;
		margin-left: -15px;
		margin-right: -15px;
	}
	/*main middle news*/
	.news-main-middle-box{
		height: auto;
		position: relative;
		height: inherit;
	}
	.news-main-middle-box .news-img{
		width: 30%;
		margin-bottom: 15px;
		float: left;
		text-align: right;
	}
	.news-main-middle-box .news-content{
		width: 70%;
		padding-left: 15px;
		margin-bottom: 0px;
	}
	.news-main-middle-box .news-title{
		height: auto;
		font-size: 16px;
		line-height: 19px;
	}
	.news-main-middle-box .news-description{
		height: auto;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 0px;
	}
	.news-main-middle-box .news-share{
		position: relative;
		left: auto;
		bottom: auto;
		top: 10px;
		z-index: 100;
	}
	/*footer*/
	footer{
		width: 100%;
		height: auto;
		padding: 0px;
		background-color: transparent;
	}
	footer .footer-logo-box,
	footer .copyright-box{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	footer .footer-logo-box{
		background-color: #d5e11f;
	}
	footer .copyright-box{
		background-color: #004861;
	}
	footer .copyright-box > div{
		text-align: center;
		color: #ffffff;
	}
	footer .footer-logo-box img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
